.custom-price {
    font-size: 2rem;
    font-weight: bold;
}
.size-box {
    width: 20%;
}
.size-box:hover {
    cursor: pointer;
    border-color: #ffc107!important;
}
.info-block {
    border-right: 1px solid #929292;
}
.info-block:hover {
    cursor: pointer;
    color: #ffc107;
}
.info-block:hover svg {
    fill: #ffc107;
}
.custom-tabs {
    cursor: pointer;
    border: 1px solid #404040;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    margin: 0;
    color: #404040;
}
.custom-tabs:hover {
    border-color: #ffc107;
}
.info-btn-active {
    border-color: #ffc107;
    background-color: #ffc107;
    color: #fff;

}